<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="normal/base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>Settings</title>
  </head>
  <body>
    <section>
     <div class="container">
     
     <div class="row">
     
     <div class="col-md-12">
     
     <div class="card">
     
     <div class="card-body">
     
     <h3 class="mb-3">Change password</h3>
     
     <form  th:action="@{/user/change-password}" method="post">
     
     		
   		<!--old password field -->
   			<div class="form-group">
   				
   				<input required name="oldPassword" type="password" class="form-control" placeholder="Enter old password" />
   			
   			</div>
   			
   			
   			<!-- new password field -->
   			
   			<div class="form-group">
   				
   				<input name="newPassword" id="newPassword" type="password" class="form-control" placeholder="Enter new password" 
   				pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[#@%^&=+$]).{8,}"
     			title="Must contain at least one number, one letter, one special character and at least 8 characters" required="required"/>
   			
   			</div>
   			
   			<div class="conainer text-center">
   			
   			<button type="submit" class="btn btn-success">Change</button>
   			<button type="reset" class="btn btn-warning">Reset</button>
   			
   			</div>
   									<div id="message">
						  <h3>Password must contain the following:</h3>
						  <p id="letter" class="invalid">A <b>letter</b> </p>
						  <p id="number" class="invalid">A <b>number</b></p>
						  <p id="special" class="invalid">A <b>Special character</b></p>
						  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
						</div>
						<style>
						#message {
								  display:none;
								  background: #f1f1f1;
								  color: #000;
								  position: relative;
								  padding: 20px;
								  margin-top: 10px;
								}
								
								#message p {
								  padding: 10px 35px;
								  font-size: 18px;
								}
								
								/* Add a green text color and a checkmark when the requirements are right */
								.valid {
								  color: green;
								}
								
								.valid:before {
								  position: relative;
								  left: -35px;
								  content: "✔";
								}
								
								/* Add a red text color and an "x" when the requirements are wrong */
								.invalid {
								  color: red;
								}
								
								.invalid:before {
								  position: relative;
								  left: -35px;
								  content: "✖";
								}
							</style>
                       <script type="text/javascript">

                       var myInput = document.getElementById("newPassword");
                       var letter = document.getElementById("letter");
                       var special = document.getElementById("special");
                       var number = document.getElementById("number");
                       var length = document.getElementById("length");

                       // When the user clicks on the password field, show the message box
                       myInput.onfocus = function() {
                         document.getElementById("message").style.display = "block";
                       }

                       // When the user clicks outside of the password field, hide the message box
                       myInput.onblur = function() {
                         document.getElementById("message").style.display = "none";
                       }

                       // When the user starts to type something inside the password field
                       myInput.onkeyup = function() {
                         // Validate lowercase letters
                         var letters = /[a-zA-Z]/g;
                         if(myInput.value.match(letters)) {  
                           letter.classList.remove("invalid");
                           letter.classList.add("valid");
                         } else {
                           letter.classList.remove("valid");
                           letter.classList.add("invalid");
                         }
                         
                         // Validate capital letters
                         var specialC = /[@#$%^&+=]/g;
                         if(myInput.value.match(specialC)) {  
                           special.classList.remove("invalid");
                           special.classList.add("valid");
                         } else {
                           special.classList.remove("valid");
                           special.classList.add("invalid");
                         }

                         // Validate numbers
                         var numbers = /[0-9]/g;
                         if(myInput.value.match(numbers)) {  
                           number.classList.remove("invalid");
                           number.classList.add("valid");
                         } else {
                           number.classList.remove("valid");
                           number.classList.add("invalid");
                         }
                         
                         // Validate length
                         if(myInput.value.length >= 8) {
                           length.classList.remove("invalid");
                           length.classList.add("valid");
                         } else {
                           length.classList.remove("valid");
                           length.classList.add("invalid");
                         }
                       }
                      
                       </script>
     
   			
     
     </form>
     
     </div>
     
     </div>
     
     
     </div>
     
     </div>
     
     </div>

      <script>
        $(document).ready(() => {
          $(".item").removeClass("active");
          $("#settings-link").addClass("active");
        });
      </script>
    </section>
  </body>
</html>
